/*--
Author: W3layouts	
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #FFFFFF;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }
/*----container----*/
.container {
    width: 90%;
}
/*--- 4-col-grids ----*/
.main {
    margin: 3em 0;
}
/*-----profile-----*/
.profile {
    background: #FFF;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    position: relative;
}

.profile-head {
    background: url(../images/profile-header-bg.jpg) no-repeat 0px 0px;
    background-size: 100% 100%;
    min-height: 120px;
}

    .profile-head a span {
        width: 81px;
        height: 81px;
        display: inline-block;
        background: url(../images/profile-pic.png) no-repeat 0px 0px;
        position: absolute;
        bottom: 109px;
        left: 100px;
    }

.profile-info {
    padding: 2em;
}

    .profile-info h2 a {
        color: #59676B;
        font-size: 0.875em;
        padding: 0.5em 0 0 0;
        margin: 0;
        display: block;
    }

        .profile-info h2 a:hover {
            text-decoration: none;
            color: #78C8E6;
        }

    .profile-info span {
        color: #BDBDBD;
        font-size: 0.875em;
    }
/*---//profile-----*/
/*----pie-chart----*/
.pie-chart {
    margin-top: 2em;
    background: #FFF;
}

.up-load-stats {
    background: #FFF;
}

.chart {
    text-align: center;
}

    .chart h4 {
        position: absolute;
        top: 0.7em;
        right: 1.65em;
        font-size: 4em;
        color: #59676B;
        display: inline-block;
    }

        .chart h4 span {
            color: #59676B;
            display: block;
            font-size: 0.3em;
        }

.diagram {
    position: relative;
}

.chart canvas {
    display: block;
    margin: 0em auto 1.8em;
    position: relative;
}

.chart_list {
    text-align: center;
}

    .chart_list li {
        display: block;
    }

        .chart_list li a {
            display: block;
            color: #FFF;
            font-size: 0.875em;
            padding: 4px 0;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

            .chart_list li a:hover {
                text-decoration: none;
            }

.up-load-stats h4 {
    color: #596873;
}
/*----*/
.chart_list {
    border-top: 1px solid #F4F4F4;
}

    .chart_list ul {
        padding: 1.5em 0em 1em;
    }

    .chart_list li span {
        width: 12px;
        height: 12px;
        display: inline-block;
        float: left;
        margin: 0.3em 0.5em 0 0;
    }

    .chart_list li label {
        float: right;
    }

    .chart_list li span.color1 {
        background: #78C8E6;
    }

    .chart_list li span.color2 {
        background: #00CC0A;
    }

    .chart_list li span.color3 {
        background: #FFE349;
    }

    .chart_list li span.color4 {
        background: #FF895B;
    }

    .chart_list li span.color5 {
        background: #7C94BE;
    }
/*--- pie-chrt-head ----*/
.pie-chrt-head {
    text-align: center;
}

    .pie-chrt-head h2 {
        background: #78C8E6;
        padding: 1em;
        color: #FFF;
        font-size: 1.3em;
        margin: 0;
        border-bottom: 3px solid #6EB7D2;
        margin-bottom: 1.3em;
    }

.chart_list {
    padding: 0 1em 1em;
}

    .chart_list li {
        color: #59676B;
        font-size: 1em;
        padding: 0.3em 0;
    }

        .chart_list li label {
            color: #B3B3B3;
            font-weight: 100;
        }
/*----- status ----*/
.status {
    background: #FFF;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    padding-bottom: 2em;
}

.status-head h3 {
    background: #FFAE00;
    padding: 1em;
    border-bottom: 3px solid #EBA000;
    color: #FFF;
    margin: 0;
    padding: 1em;
    font-size: 1.3em;
    border-top-left-radius: 0.2em border-top-right-radius:0.2em -webkit-border-top-left-radius:0.2em -moz-border-top-right-radius:0.2em -o-border-top-left-radius:0.2em border-top-right-radius:0.2em
}
/*---- drop-dwon-option-menu -----*/
.option-menu {
    margin: 2em 0;
}

.dropcontainer {
    position: relative;
    font-size: 16px;
    color: #777;
}

.trigger {
    color: #777;
    padding: 1em;
    font-size: 16px;
    width: 100%;
    background: #fff url(../images/down.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

    .trigger:hover {
        color: #FFF;
        background: #78C8E6 url(../images/top.png) 98% center no-repeat;
        text-decoration: none;
    }

.activetrigger {
    color: #59676B;
    padding: 1em;
    font-size: 16px;
    width: 100%;
    background: #f5f5f5 url(../images/down.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

    .activetrigger:hover {
        background: #f5f5f5 url(../images/top.png) 98% center no-repeat;
        color: #777;
    }

    .activetrigger:active {
        background: #f5f5f5 url(../images/down.png) 98% center no-repeat;
        color: #777;
    }

.dropcontainer ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    margin: 0;
    width: 100%;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

    .dropcontainer ul li {
        padding: 5px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

.dropdownvisible li a {
    color: #B3B3B3;
    padding: 0.7em 0.5em;
    display: block;
}

.dropcontainer ul li:hover {
    background: #78C8E6;
    outline: none;
    color: #FFF;
}

    .dropcontainer ul li a:hover, .dropcontainer ul li:hover a {
        color: #FFF;
        text-decoration: none;
    }

.dropcontainer ul li:first-child {
    display: none;
}

.dropcontainer ul li:last-child {
    border-bottom: none;
}

.dropdownhidden {
    display: none;
}

.dropdownvisible {
    height: auto;
}

/*---- drop-dwon-option-menu -----*/
/*---- social-icons ------*/
.social-icons ul li {
    display: inline-block;
}

    .social-icons ul li a span {
        width: 52px;
        height: 47px;
        display: inline-block;
        background: url(../images/social-icons.png) no-repeat 0px 0px;
    }

.social-icons ul {
    margin: 0;
    padding: 0;
}

    .social-icons ul li {
        margin-right: 1.3em;
    }

        .social-icons ul li:nth-child(4) {
            margin: 0;
        }

        .social-icons ul li a.fa span {
            background-position: 0px 0px;
        }

        .social-icons ul li a.gp span {
            background-position: -56px 0px;
        }

        .social-icons ul li a.tw span {
            background-position: -112px 0px;
        }

        .social-icons ul li a.db span {
            background-position: -169px 0px;
        }

        .social-icons ul li a {
            display: block;
        }
/*---- col-3----*/
.to-day {
    padding-bottom: 3em;
    background: #FF895B;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

    .to-day h3 {
        margin: 0;
        background: #E97E55;
        padding: 1em;
        color: #FFF;
        font-size: 1.3em;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
    }

    .to-day h1 {
        font-size: 12em;
        color: #FFF;
        padding: 0px;
        margin: 0;
    }

    .to-day span {
        color: #FFf;
        font-size: 1.3em;
        padding: 0;
        margin: 0;
    }
/*----calender----*/
div.calender {
    margin: 2.2em 0;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    background: #fff;
}

.supercal {
    width: 100%;
}

    .supercal .supercal-header {
        display: block;
        text-align: center;
        position: relative;
        background: #F9F9F9;
        padding: 1em;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        font-size: 0.9em;
    }

        .supercal .supercal-header .prev-month {
            display: none;
        }

        .supercal .supercal-header .next-month {
            display: none;
        }

.supercal-month {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.supercal table {
    width: 100%;
    table-layout: fixed;
    background: #fff;
    padding: 10px;
}

.supercal td {
    cursor: pointer;
}

    .supercal td:hover {
        background: #59676B !important;
        color: #fff;
    }

    .supercal td.month-prev, .supercal td.month-next {
        color: #B3B3B3;
    }

    .supercal td.selected {
        background: #78C8E6;
        color: #fff;
        font-weight: normal;
    }

    .supercal td.today {
        font-weight: bold;
    }
/* Footer */
.supercal .supercal-footer {
    display: none;
}

    .supercal .supercal-footer span.supercal-input {
        display: table-cell;
        width: 100%;
        cursor: default;
    }

span.month {
    color: #59676B;
    font-size: 1.5em;
    text-transform: uppercase;
}

.supercal-month table tr:nth-child(1) {
    color: #FF895B;
    font-size: 0.875em;
    font-weight: normal;
    text-transform: uppercase;
}

.supercal-month table tr th {
    padding: 10px;
    text-align: center;
}

.supercal-month table tr td {
    text-align: center;
    color: #59676B;
    font-weight: bold;
    font-size: 0.875em;
}
/*---- socail-btn-col1 ------*/
.socail-btn-col1 ul {
    margin: 0;
    padding: 0;
}

    .socail-btn-col1 ul li {
        display: block;
        padding: 0;
        margin: 0;
    }

        .socail-btn-col1 ul li input[type="button"] {
            width: 100%;
            padding: 0.8em;
            margin-bottom: 1.3em;
            text-transform: uppercase;
            font-size: 1.1em;
            outline: none;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
            cursor: pointer;
        }

            .socail-btn-col1 ul li input[type="button"].face-btn {
                background: url(../images/facebook.png) no-repeat 16px 13px #5E76B3;
                border: 1px solid #5E76B3;
                color: #FFF;
                border-bottom: 3px solid #485E95;
                border-radius: 0.2em;
            }

                .socail-btn-col1 ul li input[type="button"].face-btn:hover {
                    background: url(../images/facebook.png) no-repeat 16px 13px #5E76B3;
                    border: 1px solid #485E95;
                    border-bottom: 3px solid #5E76B3;
                }
            /*---*/
            .socail-btn-col1 ul li input[type="button"].twi-btn {
                background: url(../images/twiiter.png) no-repeat 16px 13px #78C8E6;
                border: 1px solid #78C8E6;
                color: #FFF;
                border-bottom: 3px solid #6EB7D2;
                border-radius: 0.2em;
            }

                .socail-btn-col1 ul li input[type="button"].twi-btn:hover {
                    background: url(../images/twiiter.png) no-repeat 16px 13px #78C8E6;
                    border: 1px solid #6EB7D2;
                    border-bottom: 3px solid #78C8E6;
                }
/*---- subscribe-form ----*/
.subscribe-form {
    background: #FFF;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

    .subscribe-form h4 {
        background: #F9F9F9;
        padding: 1em;
        color: #59676B;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        margin: 0;
        border-bottom: 2px solid #F1F1F1;
        border-top-left-radius: 0.2em;
        border-top-right-radius: 0.2em;
        -webkit-border-top-left-radius: 0.2em;
        -webkit-border-top-right-radius: 0.2em;
        -o-border-top-left-radius: 0.2em;
        -o-border-top-right-radius: 0.2em;
        -ms-border-top-left-radius: 0.2em;
        -ms-border-top-right-radius: 0.2em;
        -moz-border-top-left-radius: 0.2em;
        -moz-border-top-right-radius: 0.2em;
    }

    .subscribe-form form {
        background: #FFf;
        padding: 2em 1.2em;
    }

    .subscribe-form input[type="text"], .subscribe-form input[type="password"] {
        background: #F4F4F4;
        border: 1px solid #F4F4F4;
        width: 100%;
        padding: 0.8em;
        margin-bottom: 0.8em;
        text-align: center;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        outline: none;
        transition: border-color 0.4s;
        -webkit-transition: border-color 0.4s;
        -moz-transition: border-color 0.4s;
        -ms-transition: border-color 0.4s;
        -o-transition: border-color 0.4s;
    }

        .subscribe-form input[type="text"]:hover, .subscribe-form input[type="password"]:hover {
            border-color: #70D572;
        }

    .subscribe-form input[type="submit"] {
        background: #70D572;
        color: #FFF;
        padding: 0.8em;
        border: 1px solid #70D572;
        outline: none;
        width: 100%;
        margin-top: 0.5em;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        border-bottom: 3px solid #60BA62;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        outline: none;
        cursor: pointer;
    }

        .subscribe-form input[type="submit"]:hover {
            border: 1px solid #60BA62;
            border-bottom: 3px solid #70D572;
        }
/*----//subscribe-form ----*/
/*----login-form ----*/
.login-form {
    background: #FFF;
    margin: 2.2em 0;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

    .login-form h4 {
        background: #F9F9F9;
        padding: 1em;
        color: #59676B;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        margin: 0;
        border-bottom: 2px solid #F1F1F1;
        border-top-left-radius: 0.2em;
        border-top-right-radius: 0.2em;
        -webkit-border-top-left-radius: 0.2em;
        -webkit-border-top-right-radius: 0.2em;
        -o-border-top-left-radius: 0.2em;
        -o-border-top-right-radius: 0.2em;
        -ms-border-top-left-radius: 0.2em;
        -ms-border-top-right-radius: 0.2em;
        -moz-border-top-left-radius: 0.2em;
        -moz-border-top-right-radius: 0.2em;
    }

    .login-form form {
        background: #FFf;
        padding: 2em 1.2em;
    }

    .login-form input[type="text"], .login-form input[type="password"] {
        background: #F4F4F4;
        border: 1px solid #F4F4F4;
        width: 100%;
        padding: 0.8em;
        margin-bottom: 0.8em;
        text-align: center;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        outline: none;
        transition: border-color 0.4s;
        -webkit-transition: border-color 0.4s;
        -moz-transition: border-color 0.4s;
        -ms-transition: border-color 0.4s;
        -o-transition: border-color 0.4s;
    }

        .login-form input[type="text"]:hover, .login-form input[type="password"]:hover {
            border-color: #78C8E6;
        }

    .login-form input[type="submit"] {
        background: #78C8E6;
        color: #FFF;
        padding: 0.8em;
        border: 1px solid #78C8E6;
        outline: none;
        width: 100%;
        margin-top: 0.5em;
        border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        border-bottom: 3px solid #6EB7D2;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        outline: none;
        cursor: pointer;
    }

        .login-form input[type="submit"]:hover {
            border: 1px solid #6EB7D2;
            border-bottom: 3px solid #78C8E6;
        }
/*----//login-form ----*/
/*---- socail-btn-col2 ------*/
.socail-btn-col2 ul {
    margin: 0;
    padding: 0;
}

    .socail-btn-col2 ul li {
        display: block;
        padding: 0;
        margin: 0;
    }

        .socail-btn-col2 ul li input[type="button"] {
            width: 100%;
            padding: 0.8em;
            margin-bottom: 1.3em;
            text-transform: uppercase;
            font-size: 1.1em;
            outline: none;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
            cursor: pointer;
        }

            .socail-btn-col2 ul li input[type="button"].gl-btn {
                background: url(../images/googlepluse.png) no-repeat 16px 10px #DD4B39;
                border: 1px solid #DD4B39;
                color: #FFF;
                border-bottom: 3px solid #B93E2E;
                border-radius: 0.2em;
            }

                .socail-btn-col2 ul li input[type="button"].gl-btn:hover {
                    background: url(../images/googlepluse.png) no-repeat 16px 10px #DD4B39;
                    border: 1px solid #B93E2E;
                    border-bottom: 3px solid #DD4B39;
                }
            /*---*/
            .socail-btn-col2 ul li input[type="button"].drib-btn {
                background: url(../images/dribbble.png) no-repeat 16px 10px#F26797;
                border: 1px solid #F26797;
                color: #FFF;
                border-bottom: 3px solid #D25B85;
                border-radius: 0.2em;
            }

                .socail-btn-col2 ul li input[type="button"].drib-btn:hover {
                    background: url(../images/dribbble.png) no-repeat 16px 10px#F26797;
                    border: 1px solid #D25B85;
                    border-bottom: 3px solid #F26797;
                }
/*---- copy-right ----*/
.copy-right {
    text-align: right;
}

    .copy-right p {
        color: #59676B;
        font-size: 0.875em;
        text-transform: uppercase;
    }

        .copy-right p a {
            color: #FF895B;
        }

            .copy-right p a:hover {
                text-decoration: none;
                color: #78C8E6;
            }
/*---- responsive-design ---*/
@media (max-width:1366px) {
    .container {
        width: 95%;
    }
}

@media (max-width:1280px) {
    .container {
        width: 95%;
    }

    .social-icons ul li {
        margin-right: 0.8em;
    }

    .profile-head a span {
        left: 89px;
    }

    .chart h4 {
        right: 1.5em;
    }
}

@media (max-width:1024px) {
    .container {
        width: 100%;
    }

    .social-icons ul li {
        margin-right: -0.15em;
    }

    .profile-head a span {
        left: 64px;
        bottom: 100px;
    }

    .chart h4 {
        right: 1.2em;
        font-size: 3.8em;
    }

    .profile-info {
        padding: 1em 1em 2em;
    }
}

@media (max-width:768px) {
    .container {
        width: 95%;
    }

    .social-icons ul li {
        margin-right: -0.15em;
    }

    .profile-head a span {
        left: 288px;
        bottom: 100px;
    }

    .chart h4 {
        right: 4.8em;
        font-size: 3.8em;
    }

    .profile-info {
        padding: 1em 1em 2em;
    }

    .status, .to-day {
        margin-top: 2.2em;
    }
}

@media (max-width:640px) {
    .container {
        width: 95%;
    }

    .social-icons ul li {
        margin-right: -0.15em;
    }

    .profile-head a span {
        left: 228px;
        bottom: 100px;
    }

    .chart h4 {
        right: 3.8em;
        font-size: 3.8em;
    }

    .profile-info {
        padding: 1em 1em 2em;
    }

    .status, .to-day {
        margin-top: 2.2em;
    }
}

@media (max-width:480px) {
    .container {
        width: 95%;
    }

    .social-icons ul li {
        margin-right: -0.15em;
    }

    .profile-head a span {
        left: 150px;
        bottom: 100px;
    }

    .chart h4 {
        right: 2.55em;
        font-size: 3.8em;
    }

    .profile-info {
        padding: 1em 1em 2em;
    }

    .status, .to-day {
        margin-top: 2.2em;
    }

    .container input[type="text"], .container input[type="password"], .container input[type="button"] {
        -webkit-appearance: none;
    }

    .to-day h1 {
        font-size: 9em;
    }
}

@media (max-width:320px) {
    .container {
        width: 100%;
    }

        .container input[type="text"], .container input[type="password"], .container input[type="button"] {
            -webkit-appearance: none;
        }

    .social-icons ul li {
        margin-right: 0.3em;
    }

    .profile-head a span {
        left: 83px;
        bottom: 100px;
    }

    .chart h4 {
        right: 1.44em;
        font-size: 3.8em;
    }

    .profile-info {
        padding: 1em 1em 2em;
    }

    .status, .to-day {
        margin-top: 1em;
    }

    .main {
        margin: 2em 0;
    }

    .pie-chart {
        margin-top: 1em;
    }

    .option-menu {
        margin: 1em 0;
    }

    div.calender {
        margin: 1.2em 0;
    }

    .socail-btn-col1 ul li input[type="button"], .socail-btn-col2 ul li input[type="button"] {
        margin-bottom: 0.8em;
    }

    .subscribe-form form, .login-form form {
        padding: 1em 0.8em;
    }

    .login-form {
        margin: 1.2em 0;
    }

    .copy-right {
        margin: 0.5em 0;
    }

    .to-day h1 {
        font-size: 9em;
    }
}

.CSS_Table_Example {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-left-radius: 9px;
    border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-top-right-radius: 9px;
    border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -webkit-border-top-left-radius: 9px;
    border-top-left-radius: 9px;
}

    .CSS_Table_Example table {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .CSS_Table_Example tr:last-child td:last-child {
        -moz-border-radius-bottomright: 9px;
        -webkit-border-bottom-right-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    .CSS_Table_Example table tr:first-child td:first-child {
        -moz-border-radius-topleft: 9px;
        -webkit-border-top-left-radius: 9px;
        border-top-left-radius: 9px;
    }

    .CSS_Table_Example table tr:first-child td:last-child {
        -moz-border-radius-topright: 9px;
        -webkit-border-top-right-radius: 9px;
        border-top-right-radius: 9px;
    }

    .CSS_Table_Example tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 9px;
        -webkit-border-bottom-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }

    .CSS_Table_Example tr:hover td {
        background-color: #82c0ff;
        background: -o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
        background: -moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");
        background: -o-linear-gradient(top,#82c0ff,56aaff);
    }

    .CSS_Table_Example tr:first-child td {
        background: -o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
        background: -moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
        background: -o-linear-gradient(top,#0069d3,007fff);
        background-color: #0069d3;
        border: 0px solid #000000;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 18px;
        font-family: Comic Sans MS;
        font-weight: bold;
        color: #ffffff;
    }

.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
    background: -moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
    background: -o-linear-gradient(top,#0069d3,007fff);
    background-color: #0069d3;
}

.CSS_Table_Example tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.CSS_Table_Example tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.CSS_Table_Example td {
    background: -o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) );
    background: -moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");
    background: -o-linear-gradient(top,#56aaff,82c0ff);
    background-color: #56aaff;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 12px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: #000000;
}

.CSS_Table_Example tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.CSS_Table_Example tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.CSS_Table_Example tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 3;
}

.modalPopup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 600px;
    opacity: 1;
}

.cssBgBarra {
    background-image: url('../images/bg_btn.jpg');
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    height: 25px;
}

    .cssBgBarra a {
        padding: 0px 10px;
        display: inline-block;
        color: white;
    }

.cssHeader {
    background: url("../images/logo_.png");
    width: 100%;
    margin: 0px auto;
}

.divMenu 
{
    background-color: #FFFFFF;
    color: #808080;    
}

.divMenu a {
    color: #59676B;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    padding: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    color: #59676B;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.imgsize
{
    width: 30px;
    height: 30px;
}

.login-10 {
    /*background: url(../images/bg10.jpg)repeat;*/
    background-color:#e2e2e2;
    padding: 6em 0;
}

.tenth-login {
    background: #66b6b9;
    text-align: center;
    border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    width: 32%;
    margin: 0 auto;
}

.tenth-login h4 {
    font-size: 16px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    background: #FFFFFF;
    padding: 0.5em 0em;
    border-top-right-radius: 0.4em;
    -o-border-top-right-radius: 0.4em;
    -moz-border-top-right-radius: 0.4em;
    -webkit-border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    -o-border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius: 0.4em;
}

form.ten {
    padding: 5% 0 7% 0;
}

.icon10 {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    margin: 19px 1px 0px 12px;
    background-color:white;
}

.user10 {
    background: url(../images/icon10.png) no-repeat 6px -37px;
}

.lock10 {
    background: url(../images/icon10.png) no-repeat 6px -77px;
}

form.ten li.cream {
    list-style: none;
    width: 80%;
    background: #f2f2f2;
    border: none;
    margin: 9px auto;
}

.tenth-login input[type="text"], .tenth-login input[type="password"] {
    width: 74%;
    padding: 0.8em 0.7em 1em 1em;
    color: #000000;
    font-size: 15px;
    outline: none;
    background: none;
    background-color: #FFFFFF;
    border: none;
    -webkit-appearance: none;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    border-left: 1px solid #fff;
}

.submit-ten {
    margin-top: 0.8em;
}

.tenth-login input[type="submit"] {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    padding: 0.8em 0em;
    width: 50%;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: #000000;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.tenth-login input[type="submit"]:hover {
    background: #ccc;
}

.error {
    font-size: 12px;
    color: red;
}
/*----//responsive-design ---*/
